<footer id="footer">
	<div class="container">
		<div class="row f-r">
			<div class="col-md-3">
				<h4 class="h4">Dev Center</h4>
				<ul class="dev-c">
					<li><i class="fa fa-windows"></i> <a href="#" class="link">Microsoft</a></li>
					<li><i class="fa fa-apple"></i> <a href="#" class="link">Macintosh</a></li>
					<li><i class="fa fa-linux"></i> <a href="#" class="link">Linux</a></li>
					<li><i class="fa fa-sola"></i> <a href="#" class="link">Solaris</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4 class="h4">Survey services</h4>
				<ul class="surv-ser">
					<li><a href="#" class="link">Work comfortability</a></li>
					<li><a href="#" class="link">Programming languages</a></li>
					<li><a href="#" class="link">Field work scouting</a></li>
					<li><a href="#" class="link">Best place worked</a></li>
					<li><a href="#" class="link">How to keep up-to-date with changing technology </a></li>
					<li><a href="#" class="link">Know your stack </a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4 class="h4">Our blogs</h4>
				<ul class="blog">
					<li><a href="#" class="link">Survey on fashion</a></li>
					<li><a href="#" class="link">Survey on Food</a></li>
					<li><a href="#" class="link">Survey on health</a></li>
					<li><a href="#" class="link">Survey on Education</a></li>
					<li><a href="#" class="link">Survey on programming languages </a></li>
					<li><a href="#" class="link">many more... </a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4 class="h4">Connect with us</h4>
				<div class="conn">
					<button type="button" class="btn btn-sm"> <i class="fa fa-facebook"></i> &nbsp;<a href="#"
							class="link">Like us&nbsp;&nbsp;</a></button>
					<button type="button" class="btn btn-sm"><i class="fa fa-twitter"></i> &nbsp;<a href="#"
							class="link">Twitt</a></button>
					<button type="button" class="btn btn-sm"><i class="fa fa-instagram"></i> &nbsp;<a href="#"
							class="link">Feed us&nbsp;</a></button>

				</div>

			</div>
		</div>
		<div class="f-l-d">
			<hr />
			<div class="f-c">
				<p><i class="fa fa-copyright" aria-hidden="true"></i> <small>Design and produced by Survey art LTD
						2020</small></p>
			</div>
		</div>

	</div>
</footer>