<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-md-1 logo">
				<a href="/"><img src="/images/logo/logo.jpg" alt="logo" class="img-fluid"></a>
			</div>
			<div class="col-md-5 search">
				<!--<input type="text" placeholder="Search.." class="searc"><button type="button"
					class="btn btn-md btn-light">search</button>-->
				<!-- Search form -->
				<form>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search...">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-6 login">
				<button type="button" class="btn btn-md join-for-free">Join for FREE</button> &nbsp;&nbsp;&nbsp;
				<a href="/users-login" class="login">Log in</a>{{!-- log in link--}}
				<a href="#" class="s-setting"> <i class="fa fa-gear"></i> </a> {{!-- implement site setting--}}
			</div>
		</div>
	</div>
</header>