body {
    background-color: blue;
}

#trigger {
    color: white;
    background-color: orange;
}

.modal-title{
    
}

.modal-header{
    background-color: rgba(0, 128, 0, 0.644);
    color: white;
}
small{
    color: green;
    font-weight: 700;
    margin: 0;
}

.k-h{
    font-weight: 700;
    line-height: 3em;
    font-size: larger;
}
button.cls {
    background-color: red;
    outline: none;
    border: none;
    color: white;
}

button.activate {
    background-color: green;
    color: white;
    outline: none;
    border: none;
}
button.cls:hover, button.activate:hover{
    color: black;
}